
@media (min-width: 1300px){
	.seccion .h2{
		font-size: 2.5rem;
	}
	.contact_img img{
		width: 50%;
		max-width: 45px;
	}
}
@media (min-width: 1900px){
	/*nav*/
	.menu_networks img{
		height: 1.2rem;
	}
	.menu_li .a{
		font-size: 1.1rem;
	}
	/*header*/
	.divHeader .h1{
		font-size: 5rem;
	}
	.divHeader .h2{
		font-size: 2.5rem;
	}	
	.divHeader .ul a{
		font-size: 1.2rem;
	}
	/*secciones*/
	.seccion .h2{
		font-size: 3rem;
	}
	/*habilidades*/
	.habi_container .h3{
		font-size: 2.2rem;
	}
	/*footer*/
	.contact_info p{
		font-size: 1.2rem;
	}
	.contact_img img{
		max-width: 55px;
	}
	.footer h1{
		font-size: .9rem;
	}
}
@media (min-width: 2200px){
	/*nav*/
	.menu_networks img{
		height: 1.6rem;
	}
	.menu_li .a{
		font-size: 1.5rem;
	}
	/*header*/
	.divHeader .h1{
		font-size: 7rem;
	}
	.divHeader .h2{
		font-size: 3rem;
	}	
	.divHeader .ul a{
		font-size: 1.5rem;
	}
	/*secciones*/
	.seccion .h2{
		font-size: 4rem;
	}
	/*habilidades*/
	.habi_container .h3{
		font-size: 3rem;
	}
	/*footer*/
	.contact_info p{
		font-size: 1.4rem;
	}
	.contact_img img{
		max-width: 65px;
	}
	.footer h1{
		font-size: 1.1rem;
	}
}
/*@media (max-width: 799px) {*/
@media (max-width: 700px) {
	/* menu navbar */
	.menu{
		min-height: calc(100vh - 2rem);
		max-width: 250px;
		width: 80%;
		margin-right: 0;
		position: absolute;
		top: 2rem;
		left: 0;
		background-color: rgba(0, 0, 0, .5);
		transform: translateX(-100%);
		transition: all .5s;
		overflow: hidden;
	}
	.menu_ul{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateX(100%);
		border-right: 1px solid #fff;
		transition: all .5s;
	}
	.menu_active{
		transform: translateX(0);
	}
	.menu_h2{
		display: block;
		color: #fff;
		text-align: center;
		font-size: 1.5rem;
		margin: 1rem 0 .7rem;
		text-shadow: 2px 2px 2px #000;
	}
	.menu_li{
		margin: 4px;
		display: block;
		width: calc(100% - 8px);
		height: 2rem;
		position: relative;
	}
	.menu_li:hover{
		transform: scale(1);
	}
	.menu_li .a{
		color: #fff;
		text-shadow: none;
		text-shadow: 2px 2px 2px #000;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		padding-left: 4px;
	}
	.menu_li a:hover{
		background-color: rgba(0, 0, 0, .8);
	}
	/* button navbar */
	.menu_btn{
		display: block;
		padding: 0;
		margin: 0;
		background: transparent;
		border: none;
		margin-right: 5%;
		position: relative;
	}
	.icon_menu{
		width: 1.6rem;
		filter: drop-shadow(1px 1px 2px #000);
		cursor: pointer;
	}
	.barra{
		position: relative;
		opacity: 1;
	}
	.close{
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
	}
}

@media (max-width: 500px) {
	.proyecto_grid{
		grid-template-columns: repeat(auto-fit, minmax(1fr, 6rem));
	}
	.habi_container{
		grid-template-columns: 1fr;
	}

	.contact_info, .contact_img{
		width: 100%;
	}
	.contact_img {
		display: flex;
		justify-content: center;
		border-left: none;
		border-top: 2px solid #fff;
		margin-top: 10px;
		padding-top: 20px;
	}
	.contact_img div{
		width: auto;
		text-align: center;
	}
	.contact_img div:nth-child(2){
		margin: 0 1rem;
	}
	.contact_img img{
		height: 30px;
		width: auto;
	}
}
@media (max-width: 200px) {
	
	.proyecto_grid{
		grid-template-columns: 1fr;
	}
}