@media (max-width: 800px) {
	.fren{
		display: none;
	}
}
@media (max-width: 700px) {
	.btn-menu{
		display: block;
		width: 28px;
		height: 28px;
		cursor: pointer;
		margin-right: 5%;
		position: relative;
	}
	.barra{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 28px;
		height: 3px;
		background: #fff;
		border-radius: 3px;
		transition: .3s ease;
	}
	.barra1{
		transform: translate(-50%, -7px);
	}
	.barra2{
		transform: translate(-50%, 0);
	}
	.barra3{
		transform: translate(-50%, 7px);
	}
	.close .barra1{
		transform: translate(-50%, 0) rotateZ(225deg);
		/*transform: translate(-50%, 0) rotateZ(45deg);*/
	}
	.close .barra2{
		opacity: 0;
		transform: translate(-150%, 0);
		pointer-events: none;
	}
	.close .barra3{
		transform: translate(-50%, 0) rotateZ(-225deg);
		/*transform: translate(-50%, 0) rotateZ(-45deg);*/
	}
	.menu{
		position: fixed;
		top: 0;
		right: 0;
		width: 250px;
		height: 100vh;
		overflow: hidden;
		background: rgba(0, 0, 0, .9);
		z-index: -1;
		transform: translateX(100%);
		transition: .5s;
	}
	.menu-ul{
		transform: translateX(-100%);
		transition: .5s;
	}
	.menu-h3{
		display: block;
		margin-top: 2rem;
		font-size: 1.7rem;
		text-align: center;
		background: #fff;
		transform: translateX(-100%);
		transition: .5s;
	}
	.menu-v{
		transform: translateX(0);
	}
	.menu li{
		display: block;
		text-align: center;
		margin-left: 0;
		margin-top: 10px;
	}
	.nav-a{
		position: relative;
		border-radius: 5px;
		overflow: hidden;
		padding: 5px 10px;
	}
	.nav-a:hover{
	}
	li .nav-a:before{
		content: '';
		display: block;
		width: 0;
		height: 0;
		background: #fff;
		position: absolute;
		transition: all .3s;
		left: 50%;
		top: 50%;
		border-radius: 50%;
		z-index: -1;
		background: transparent;
		box-shadow: 0 0 0 transparent;
	}
	li .nav-a:hover:before{
		background: darkred;
		box-shadow: 0 0 5px orangered, 0 0 12px orangered, 0 0 40px orangered, 0 0 100px orangered;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		border-radius: 5px;
	}

	/* HABILIDADES */

	.fren{
		display: inline-block;
	}
	.lenguajes img:nth-child(1){
		transition: .5s .4s;
	}
	.lenguajes img:nth-child(2){
		transition: .5s .2s;
	}
	.lenguajes img:nth-child(3){
		transition: .5s 0s;
	}
	.habilidades .habi-container{
		display: grid;
		grid-template-columns: [header-start] 1fr [header-end];
		grid-template-rows: [header-start] 1fr [header-end footer-start] 1fr [footer-end];
	}
	.habilidades .habi-container .cambiar{
		grid-area: header;
	}
	.habilidades .habi-container div{
		width: 90%;
		margin: 0 auto;
	}
	.habi-img{
		height: 4.5rem;
	}
	.scroll-r{
		transform: translateX(-100px);
	}

	/* CONTACTOS */

	.contact-container{
		width: 90%;
		grid-template-columns: 1fr;
	}
	.contact-info{
		text-align: justify;
	}
	.contact-link{
		text-align: center;
		border-left: none;
		border-top: 2px solid #fff;
	}
	.content-img{
		display: inline-block;
	}
	.contact-link img{
		width: inherit;
		height: 1.5rem;
		margin: 1rem 0 0;
	}
	.contact-link ul li:nth-child(2) img{
		margin: 0 .5rem;
	}
}